<!DOCTYPE html> 
<html>
<head>
  <title>ONE</title>

  <!-- Styles -->
  <link rel="icon" href="{{ url_for('static', filename='views/img/favicon-32x32.png')}}" type="image/png" sizes="32x32">
  <link rel="icon" href="{{ url_for('static', filename='views/img/favicon-16x16.png')}}" type="image/png" sizes="16x16">
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="views/img/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>

  <main ng-app="app">
    <section ng-view></section>
  </main>

  <!--minified-->
<script src="{{ url_for('static', filename='tinyFiles/lib.min.js') }}"></script>
<script src="{{ url_for('static', filename='tinyFiles/app.min.js') }}"></script>

</body>
</html>